<% layout('layouts/boilerplate') %> 
<h1>Details for <%= campground.title %>
</h1>
<ul>
    <li>Location: <%= campground.location %>
    </li>
</ul>
<footer>
    <a href="/campgrounds/<%= campground._id %>/edit">Edit Campground</a>
    <a href="/campgrounds">Back to All Campgrounds</a>
    <form action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
        <button>Delete Campground</button>
    </form>
</footer>